In [1]:
% pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
from __future__ import print_function
import os.path
import pandas
import src
import sklearn
import os
import scipy
import scipy.stats

In [3]:
def fake(*args, **kwargs):
    print('Fake called with', str(args), str(kwargs))
    sys.exit(1)

# fake out the create_model so we don't accidentally attempt to create data
src.common.create_model = fake

In [4]:
# import seaborn
# seaborn.set_palette("colorblind")

In [5]:
print(os.getcwd())
if os.getcwd().endswith('notebooks'):
    os.chdir('..')
print(os.getcwd())

/home/cscorley/git/triage/notebooks
/home/cscorley/git/triage

In [6]:
args = dict(level='file', force=False, model='lda', source=['release', 'changeset', 'temporal'], random_seed_value=1)

model_config, model_config_string = src.main.get_default_model_config(args)
args.update({'model_config': model_config, 'model_config_string': model_config_string})

changeset_config, changeset_config_string = src.main.get_default_changeset_config()
args.update({'changeset_config': changeset_config, 'changeset_config_string': changeset_config_string})

projects = src.common.load_projects(args)
projects

[Project(name='tika', printable_name='Tika v1.8', version='v1.8', ref='refs/tags/1.8', data_path='data/tika/', full_path='data/tika/v1.8/', src_path='data/tika/v1.8/src/', changeset_config_string=u'True-True-False-True', source=['release', 'changeset', 'temporal'], model_config_string=u'seed1-batch-0.002-0.5-0.002-1000-1000-500-1.0-1', force=False, level='file', model_config={'passes': 1, 'eta': 0.002, 'num_topics': 500, 'iterations': 1000, 'decay': 0.5, 'algorithm': 'batch', 'alpha': 0.002, 'offset': 1.0, 'max_bound_iterations': 1000}, model='lda', random_seed_value=1, changeset_config={'include_removals': True, 'include_context': True, 'include_message': False, 'include_additions': True}),
 Project(name='pig', printable_name='Pig v0.14.0', version='v0.14.0', ref='refs/tags/release-0.14.0', data_path='data/pig/', full_path='data/pig/v0.14.0/', src_path='data/pig/v0.14.0/src/', changeset_config_string=u'True-True-False-True', source=['release', 'changeset', 'temporal'], model_config_string=u'seed1-batch-0.002-0.5-0.002-1000-1000-500-1.0-1', force=False, level='file', model_config={'passes': 1, 'eta': 0.002, 'num_topics': 500, 'iterations': 1000, 'decay': 0.5, 'algorithm': 'batch', 'alpha': 0.002, 'offset': 1.0, 'max_bound_iterations': 1000}, model='lda', random_seed_value=1, changeset_config={'include_removals': True, 'include_context': True, 'include_message': False, 'include_additions': True}),
 Project(name='bookkeeper', printable_name='BookKeeper v4.3.0', version='v4.3.0', ref='refs/tags/release-4.3.0', data_path='data/bookkeeper/', full_path='data/bookkeeper/v4.3.0/', src_path='data/bookkeeper/v4.3.0/src/', changeset_config_string=u'True-True-False-True', source=['release', 'changeset', 'temporal'], model_config_string=u'seed1-batch-0.002-0.5-0.002-1000-1000-500-1.0-1', force=False, level='file', model_config={'passes': 1, 'eta': 0.002, 'num_topics': 500, 'iterations': 1000, 'decay': 0.5, 'algorithm': 'batch', 'alpha': 0.002, 'offset': 1.0, 'max_bound_iterations': 1000}, model='lda', random_seed_value=1, changeset_config={'include_removals': True, 'include_context': True, 'include_message': False, 'include_additions': True}),
 Project(name='openjpa', printable_name='OpenJPA v2.3.0', version='v2.3.0', ref='refs/tags/2.3.0', data_path='data/openjpa/', full_path='data/openjpa/v2.3.0/', src_path='data/openjpa/v2.3.0/src/', changeset_config_string=u'True-True-False-True', source=['release', 'changeset', 'temporal'], model_config_string=u'seed1-batch-0.002-0.5-0.002-1000-1000-500-1.0-1', force=False, level='file', model_config={'passes': 1, 'eta': 0.002, 'num_topics': 500, 'iterations': 1000, 'decay': 0.5, 'algorithm': 'batch', 'alpha': 0.002, 'offset': 1.0, 'max_bound_iterations': 1000}, model='lda', random_seed_value=1, changeset_config={'include_removals': True, 'include_context': True, 'include_message': False, 'include_additions': True}),
 Project(name='mahout', printable_name='Mahout v0.10.0', version='v0.10.0', ref='refs/tags/mahout-0.10', data_path='data/mahout/', full_path='data/mahout/v0.10.0/', src_path='data/mahout/v0.10.0/src/', changeset_config_string=u'True-True-False-True', source=['release', 'changeset', 'temporal'], model_config_string=u'seed1-batch-0.002-0.5-0.002-1000-1000-500-1.0-1', force=False, level='file', model_config={'passes': 1, 'eta': 0.002, 'num_topics': 500, 'iterations': 1000, 'decay': 0.5, 'algorithm': 'batch', 'alpha': 0.002, 'offset': 1.0, 'max_bound_iterations': 1000}, model='lda', random_seed_value=1, changeset_config={'include_removals': True, 'include_context': True, 'include_message': False, 'include_additions': True}),
 Project(name='zookeeper', printable_name='ZooKeeper v3.5.0', version='v3.5.0', ref='refs/tags/release-3.5.0', data_path='data/zookeeper/', full_path='data/zookeeper/v3.5.0/', src_path='data/zookeeper/v3.5.0/src/', changeset_config_string=u'True-True-False-True', source=['release', 'changeset', 'temporal'], model_config_string=u'seed1-batch-0.002-0.5-0.002-1000-1000-500-1.0-1', force=False, level='file', model_config={'passes': 1, 'eta': 0.002, 'num_topics': 500, 'iterations': 1000, 'decay': 0.5, 'algorithm': 'batch', 'alpha': 0.002, 'offset': 1.0, 'max_bound_iterations': 1000}, model='lda', random_seed_value=1, changeset_config={'include_removals': True, 'include_context': True, 'include_message': False, 'include_additions': True})]

# Data read

In [171]:
data = dict()
csvs = dict()
for project in projects:
    ownership = src.ownership.read_ownership(project)
    devs = set()
    for v in ownership.values():
        devs.update(v.keys())
        
    goldsets = pandas.read_csv(os.path.join(project.full_path, 'goldset-info.csv'))
    changes = pandas.read_csv(os.path.join(project.full_path, 'changeset-info.csv'))
    release = pandas.read_csv(os.path.join(project.full_path, 'releasefile-info.csv'))
    queries = pandas.read_csv(os.path.join(project.full_path, 'queries-info.csv'))
    info = {"Developers": len(devs), "Changesets": len(changes), "Files": len(release), "Issues": len(queries)}
    data[project.printable_name] = info
    
    csvs[project.name] = {'g': goldsets, 'c': changes, 'r': release, 'q': queries, 'd': devs, 'o': ownership}


sizes = pandas.DataFrame(data)
sizes['Total'] = sizes.T.sum()
sizes = sizes.T
sizes

                   Changesets  Developers  Files  Issues
BookKeeper v4.3.0         574           5    843     164
Mahout v0.10.0           3283          38   1556     133
OpenJPA v2.3.0           4616          26   4968     137
Pig v0.14.0              2584          28   2098     222
Tika v1.8                2469          26    954      40
ZooKeeper v3.5.0         1245          16    927     359
Total                   14771         139  11346    1055

In [7]:
ALL_ORDER = ["Snapshot", "Changesets", "Historical"]
RQ1_ORDER = ["Snapshot", "Changesets"]
RQ2_ORDER = ["Changesets", "Historical"]

In [8]:
def get_panel(projects, fn):
    datarank = dict()
    for project in projects:
        results = fn(project) 
        x, y = src.common.merge_first_rels(results['changeset'], results['release'], ignore=True)
        _, z = src.common.merge_first_rels(results['changeset'], results['temporal'], ignore=True)
        print(len(x), len(y), len(z))
        datarank[project.printable_name] = {'Changesets': pandas.Series(x),
                                            'Snapshot': pandas.Series(y),
                                            'Historical': pandas.Series(z)}

    return pandas.Panel(datarank)

In [9]:
tpanel = get_panel(projects, src.triage.run_experiment)

40 40 40
222 222 222
164 164 164
137 137 137
133 133 133
359 359 359

In [10]:
fpanel = get_panel(projects, src.feature_location.run_experiment)

36 36 36
174 174 174
143 143 143
131 131 131
50 50 50
241 241 241

In [243]:
def print_stats(df, first, second, max_bound, bounds):
    diff = df[first] - df[second]
    diff = diff.abs().dropna()
    diff = diff[diff != 0] # drop sames
    
    ones = df[(df[first] == 1) & (df[second] == 1)]
    same = df[df[first] == df[second]]
    
    total = len(diff) + len(same)
    print("max bound:", max_bound, sep="\t")
    print("fancy:", fancy_bounds, sep="\t")
    
    print("same:", len(same), float(len(same)) / total, sep="\t")
    print("same (ones):", len(ones), float(len(ones)) / total, sep="\t")
    
    for each in range(1, 4):
        diffof = diff[diff == each]
        print("diff of %d:" % each,
              len(diffof), float(len(diffof)) / total, sep="\t")

    for each in bounds:
        bound = each
        diffin = diff[diff <= bound]
        print("within <=%d:" % (bound),
              len(diffin), float(len(diffin)) / total, sep="\t")
        
        
    bound = max(bounds)

    other = diff[diff > bound]
    print("other (>%f):" % (bound), len(other), float(len(other)) / total, sep="\t")
        
    for each in bounds:
        bound = int(((float(each) / 100.0) * max_bound) + 0.5)
        diffin = diff[diff <= bound]
        print("within <= %d (%f%%):" % (bound, each),
              len(diffin), float(len(diffin)) / total, sep="\t")

    bound = int(((float(each) / 100.0) * max_bound) + 0.5)
    other = diff[diff > bound]
    print("other > %d (%f%%):" % (bound, each), len(other), float(len(other)) / total, sep="\t")

    print("total:", total, sep="\t")

In [251]:
def plot_panel(panel, a, b, bound_by):
    print("<!--", a, b, bound_by)
    allt = pandas.DataFrame()
    max_max_bound = 0
    for each in panel:
        allt = allt.append(panel[each], ignore_index=True)
        print("-->\n\n<!--", each)
        max_bound = sizes[bound_by][each]
        max_max_bound = max(max_max_bound, max_bound)
        print_stats(panel[each], a, b, max_bound, [1, 5, 10, 50])

    print("-->\n\n<!--All")
    print_stats(allt, a, b, max_max_bound, [1, 5, 10, 50])
    
    print("-->")

In [252]:
plot_panel(fpanel, "Changesets", "Snapshot", "Files")

<!-- Changesets Snapshot Files
-->

<!-- BookKeeper v4.3.0
max bound:	843
fancy:	False
same:	38	0.265734265734
same (ones):	34	0.237762237762
diff of 1:	14	0.0979020979021
diff of 2:	13	0.0909090909091
diff of 3:	4	0.027972027972
within <=1:	14	0.0979020979021
within <=5:	40	0.27972027972
within <=10:	46	0.321678321678
within <=50:	74	0.517482517483
other (>50.000000):	31	0.216783216783
within <= 8 (1.000000%):	42	0.293706293706
within <= 42 (5.000000%):	73	0.51048951049
within <= 84 (10.000000%):	84	0.587412587413
within <= 422 (50.000000%):	95	0.664335664336
other > 422 (50.000000%):	10	0.0699300699301
total:	143
-->

<!-- Mahout v0.10.0
max bound:	1556
fancy:	False
same:	6	0.12
same (ones):	5	0.1
diff of 1:	5	0.1
diff of 2:	4	0.08
diff of 3:	0	0.0
within <=1:	5	0.1
within <=5:	12	0.24
within <=10:	15	0.3
within <=50:	23	0.46
other (>50.000000):	21	0.42
within <= 16 (1.000000%):	17	0.34
within <= 78 (5.000000%):	24	0.48
within <= 156 (10.000000%):	28	0.56
within <= 778 (50.000000%):	40	0.8
other > 778 (50.000000%):	4	0.08
total:	50
-->

<!-- OpenJPA v2.3.0
max bound:	4968
fancy:	False
same:	16	0.12213740458
same (ones):	14	0.106870229008
diff of 1:	12	0.0916030534351
diff of 2:	5	0.0381679389313
diff of 3:	3	0.0229007633588
within <=1:	12	0.0916030534351
within <=5:	25	0.190839694656
within <=10:	36	0.274809160305
within <=50:	62	0.473282442748
other (>50.000000):	53	0.404580152672
within <= 50 (1.000000%):	62	0.473282442748
within <= 248 (5.000000%):	76	0.580152671756
within <= 497 (10.000000%):	89	0.679389312977
within <= 2484 (50.000000%):	112	0.854961832061
other > 2484 (50.000000%):	3	0.0229007633588
total:	131
-->

<!-- Pig v0.14.0
max bound:	2098
fancy:	False
same:	30	0.172413793103
same (ones):	26	0.149425287356
diff of 1:	15	0.0862068965517
diff of 2:	10	0.0574712643678
diff of 3:	11	0.0632183908046
within <=1:	15	0.0862068965517
within <=5:	48	0.275862068966
within <=10:	52	0.298850574713
within <=50:	90	0.51724137931
other (>50.000000):	54	0.310344827586
within <= 21 (1.000000%):	67	0.385057471264
within <= 105 (5.000000%):	106	0.609195402299
within <= 210 (10.000000%):	119	0.683908045977
within <= 1049 (50.000000%):	137	0.787356321839
other > 1049 (50.000000%):	7	0.0402298850575
total:	174
-->

<!-- Tika v1.8
max bound:	954
fancy:	False
same:	5	0.138888888889
same (ones):	4	0.111111111111
diff of 1:	9	0.25
diff of 2:	4	0.111111111111
diff of 3:	2	0.0555555555556
within <=1:	9	0.25
within <=5:	16	0.444444444444
within <=10:	19	0.527777777778
within <=50:	23	0.638888888889
other (>50.000000):	8	0.222222222222
within <= 10 (1.000000%):	19	0.527777777778
within <= 48 (5.000000%):	23	0.638888888889
within <= 95 (10.000000%):	26	0.722222222222
within <= 477 (50.000000%):	29	0.805555555556
other > 477 (50.000000%):	2	0.0555555555556
total:	36
-->

<!-- ZooKeeper v3.5.0
max bound:	927
fancy:	False
same:	60	0.248962655602
same (ones):	56	0.232365145228
diff of 1:	32	0.132780082988
diff of 2:	16	0.0663900414938
diff of 3:	10	0.0414937759336
within <=1:	32	0.132780082988
within <=5:	72	0.298755186722
within <=10:	86	0.356846473029
within <=50:	126	0.522821576763
other (>50.000000):	55	0.228215767635
within <= 9 (1.000000%):	85	0.352697095436
within <= 46 (5.000000%):	121	0.502074688797
within <= 93 (10.000000%):	144	0.597510373444
within <= 464 (50.000000%):	175	0.726141078838
other > 464 (50.000000%):	6	0.0248962655602
total:	241
-->

<!--All
max bound:	4968
fancy:	False
same:	155	0.2
same (ones):	139	0.17935483871
diff of 1:	87	0.112258064516
diff of 2:	52	0.0670967741935
diff of 3:	30	0.0387096774194
within <=1:	87	0.112258064516
within <=5:	213	0.274838709677
within <=10:	254	0.327741935484
within <=50:	398	0.513548387097
other (>50.000000):	222	0.286451612903
within <= 50 (1.000000%):	398	0.513548387097
within <= 248 (5.000000%):	516	0.665806451613
within <= 497 (10.000000%):	559	0.721290322581
within <= 2484 (50.000000%):	617	0.796129032258
other > 2484 (50.000000%):	3	0.00387096774194
total:	775
-->

In [253]:
plot_panel(fpanel, "Changesets", "Historical", "Files")

<!-- Changesets Historical Files
-->

<!-- BookKeeper v4.3.0
max bound:	843
fancy:	False
same:	29	0.202797202797
same (ones):	21	0.146853146853
diff of 1:	16	0.111888111888
diff of 2:	8	0.0559440559441
diff of 3:	8	0.0559440559441
within <=1:	16	0.111888111888
within <=5:	43	0.300699300699
within <=10:	59	0.412587412587
within <=50:	83	0.58041958042
other (>50.000000):	31	0.216783216783
within <= 8 (1.000000%):	52	0.363636363636
within <= 42 (5.000000%):	82	0.573426573427
within <= 84 (10.000000%):	95	0.664335664336
within <= 422 (50.000000%):	112	0.783216783217
other > 422 (50.000000%):	2	0.013986013986
total:	143
-->

<!-- Mahout v0.10.0
max bound:	1556
fancy:	False
same:	6	0.12
same (ones):	4	0.08
diff of 1:	7	0.14
diff of 2:	4	0.08
diff of 3:	1	0.02
within <=1:	7	0.14
within <=5:	14	0.28
within <=10:	16	0.32
within <=50:	27	0.54
other (>50.000000):	17	0.34
within <= 16 (1.000000%):	21	0.42
within <= 78 (5.000000%):	32	0.64
within <= 156 (10.000000%):	37	0.74
within <= 778 (50.000000%):	43	0.86
other > 778 (50.000000%):	1	0.02
total:	50
-->

<!-- OpenJPA v2.3.0
max bound:	4968
fancy:	False
same:	15	0.114503816794
same (ones):	14	0.106870229008
diff of 1:	7	0.0534351145038
diff of 2:	4	0.030534351145
diff of 3:	7	0.0534351145038
within <=1:	7	0.0534351145038
within <=5:	24	0.18320610687
within <=10:	33	0.251908396947
within <=50:	65	0.496183206107
other (>50.000000):	51	0.389312977099
within <= 50 (1.000000%):	65	0.496183206107
within <= 248 (5.000000%):	101	0.770992366412
within <= 497 (10.000000%):	107	0.81679389313
within <= 2484 (50.000000%):	116	0.885496183206
other > 2484 (50.000000%):	0	0.0
total:	131
-->

<!-- Pig v0.14.0
max bound:	2098
fancy:	False
same:	22	0.126436781609
same (ones):	19	0.109195402299
diff of 1:	12	0.0689655172414
diff of 2:	8	0.0459770114943
diff of 3:	2	0.0114942528736
within <=1:	12	0.0689655172414
within <=5:	35	0.201149425287
within <=10:	47	0.270114942529
within <=50:	92	0.528735632184
other (>50.000000):	60	0.344827586207
within <= 21 (1.000000%):	67	0.385057471264
within <= 105 (5.000000%):	123	0.706896551724
within <= 210 (10.000000%):	138	0.793103448276
within <= 1049 (50.000000%):	151	0.867816091954
other > 1049 (50.000000%):	1	0.00574712643678
total:	174
-->

<!-- Tika v1.8
max bound:	954
fancy:	False
same:	6	0.166666666667
same (ones):	4	0.111111111111
diff of 1:	6	0.166666666667
diff of 2:	1	0.0277777777778
diff of 3:	0	0.0
within <=1:	6	0.166666666667
within <=5:	7	0.194444444444
within <=10:	12	0.333333333333
within <=50:	24	0.666666666667
other (>50.000000):	6	0.166666666667
within <= 10 (1.000000%):	12	0.333333333333
within <= 48 (5.000000%):	23	0.638888888889
within <= 95 (10.000000%):	28	0.777777777778
within <= 477 (50.000000%):	30	0.833333333333
other > 477 (50.000000%):	0	0.0
total:	36
-->

<!-- ZooKeeper v3.5.0
max bound:	927
fancy:	False
same:	43	0.178423236515
same (ones):	36	0.149377593361
diff of 1:	28	0.116182572614
diff of 2:	21	0.0871369294606
diff of 3:	12	0.0497925311203
within <=1:	28	0.116182572614
within <=5:	81	0.336099585062
within <=10:	118	0.489626556017
within <=50:	169	0.701244813278
other (>50.000000):	29	0.120331950207
within <= 9 (1.000000%):	114	0.473029045643
within <= 46 (5.000000%):	168	0.697095435685
within <= 93 (10.000000%):	182	0.755186721992
within <= 464 (50.000000%):	198	0.821576763485
other > 464 (50.000000%):	0	0.0
total:	241
-->

<!--All
max bound:	4968
fancy:	False
same:	121	0.156129032258
same (ones):	98	0.126451612903
diff of 1:	76	0.098064516129
diff of 2:	46	0.0593548387097
diff of 3:	30	0.0387096774194
within <=1:	76	0.098064516129
within <=5:	204	0.263225806452
within <=10:	285	0.367741935484
within <=50:	460	0.593548387097
other (>50.000000):	194	0.250322580645
within <= 50 (1.000000%):	460	0.593548387097
within <= 248 (5.000000%):	613	0.790967741935
within <= 497 (10.000000%):	634	0.818064516129
within <= 2484 (50.000000%):	654	0.843870967742
other > 2484 (50.000000%):	0	0.0
total:	775
-->

In [254]:
plot_panel(tpanel, "Changesets", "Snapshot", "Developers")

<!-- Changesets Snapshot Developers
-->

<!-- BookKeeper v4.3.0
max bound:	5
fancy:	False
same:	30	0.182926829268
same (ones):	17	0.103658536585
diff of 1:	61	0.371951219512
diff of 2:	20	0.121951219512
diff of 3:	41	0.25
within <=1:	61	0.371951219512
within <=5:	134	0.817073170732
within <=10:	134	0.817073170732
within <=50:	134	0.817073170732
other (>50.000000):	0	0.0
within <= 0 (1.000000%):	0	0.0
within <= 0 (5.000000%):	0	0.0
within <= 1 (10.000000%):	61	0.371951219512
within <= 3 (50.000000%):	122	0.743902439024
other > 3 (50.000000%):	12	0.0731707317073
total:	164
-->

<!-- Mahout v0.10.0
max bound:	38
fancy:	False
same:	16	0.12030075188
same (ones):	4	0.0300751879699
diff of 1:	17	0.127819548872
diff of 2:	19	0.142857142857
diff of 3:	16	0.12030075188
within <=1:	17	0.127819548872
within <=5:	67	0.503759398496
within <=10:	94	0.706766917293
within <=50:	117	0.87969924812
other (>50.000000):	0	0.0
within <= 0 (1.000000%):	0	0.0
within <= 2 (5.000000%):	36	0.270676691729
within <= 4 (10.000000%):	63	0.473684210526
within <= 19 (50.000000%):	109	0.81954887218
other > 19 (50.000000%):	8	0.0601503759398
total:	133
-->

<!-- OpenJPA v2.3.0
max bound:	26
fancy:	False
same:	22	0.160583941606
same (ones):	8	0.0583941605839
diff of 1:	27	0.197080291971
diff of 2:	10	0.0729927007299
diff of 3:	15	0.109489051095
within <=1:	27	0.197080291971
within <=5:	72	0.525547445255
within <=10:	101	0.737226277372
within <=50:	115	0.839416058394
other (>50.000000):	0	0.0
within <= 0 (1.000000%):	0	0.0
within <= 1 (5.000000%):	27	0.197080291971
within <= 3 (10.000000%):	52	0.379562043796
within <= 13 (50.000000%):	108	0.788321167883
other > 13 (50.000000%):	7	0.0510948905109
total:	137
-->

<!-- Pig v0.14.0
max bound:	28
fancy:	False
same:	22	0.0990990990991
same (ones):	3	0.0135135135135
diff of 1:	35	0.157657657658
diff of 2:	23	0.103603603604
diff of 3:	28	0.126126126126
within <=1:	35	0.157657657658
within <=5:	138	0.621621621622
within <=10:	184	0.828828828829
within <=50:	200	0.900900900901
other (>50.000000):	0	0.0
within <= 0 (1.000000%):	0	0.0
within <= 1 (5.000000%):	35	0.157657657658
within <= 3 (10.000000%):	86	0.387387387387
within <= 14 (50.000000%):	192	0.864864864865
other > 14 (50.000000%):	8	0.036036036036
total:	222
-->

<!-- Tika v1.8
max bound:	26
fancy:	False
same:	2	0.05
same (ones):	2	0.05
diff of 1:	9	0.225
diff of 2:	6	0.15
diff of 3:	8	0.2
within <=1:	9	0.225
within <=5:	29	0.725
within <=10:	35	0.875
within <=50:	38	0.95
other (>50.000000):	0	0.0
within <= 0 (1.000000%):	0	0.0
within <= 1 (5.000000%):	9	0.225
within <= 3 (10.000000%):	23	0.575
within <= 13 (50.000000%):	36	0.9
other > 13 (50.000000%):	2	0.05
total:	40
-->

<!-- ZooKeeper v3.5.0
max bound:	16
fancy:	False
same:	62	0.172701949861
same (ones):	24	0.066852367688
diff of 1:	96	0.267409470752
diff of 2:	67	0.186629526462
diff of 3:	58	0.161559888579
within <=1:	96	0.267409470752
within <=5:	276	0.768802228412
within <=10:	297	0.827298050139
within <=50:	297	0.827298050139
other (>50.000000):	0	0.0
within <= 0 (1.000000%):	0	0.0
within <= 1 (5.000000%):	96	0.267409470752
within <= 2 (10.000000%):	163	0.454038997214
within <= 8 (50.000000%):	293	0.816155988858
other > 8 (50.000000%):	4	0.0111420612813
total:	359
-->

<!--All
max bound:	38
fancy:	False
same:	154	0.145971563981
same (ones):	58	0.0549763033175
diff of 1:	245	0.232227488152
diff of 2:	145	0.137440758294
diff of 3:	166	0.157345971564
within <=1:	245	0.232227488152
within <=5:	716	0.678672985782
within <=10:	845	0.800947867299
within <=50:	901	0.854028436019
other (>50.000000):	0	0.0
within <= 0 (1.000000%):	0	0.0
within <= 2 (5.000000%):	390	0.369668246445
within <= 4 (10.000000%):	658	0.623696682464
within <= 19 (50.000000%):	890	0.843601895735
other > 19 (50.000000%):	11	0.0104265402844
total:	1055
-->

In [255]:
plot_panel(tpanel, "Changesets", "Historical", "Developers")

<!-- Changesets Historical Developers
-->

<!-- BookKeeper v4.3.0
max bound:	5
fancy:	False
same:	43	0.262195121951
same (ones):	30	0.182926829268
diff of 1:	58	0.353658536585
diff of 2:	40	0.243902439024
diff of 3:	17	0.103658536585
within <=1:	58	0.353658536585
within <=5:	121	0.737804878049
within <=10:	121	0.737804878049
within <=50:	121	0.737804878049
other (>50.000000):	0	0.0
within <= 0 (1.000000%):	0	0.0
within <= 0 (5.000000%):	0	0.0
within <= 1 (10.000000%):	58	0.353658536585
within <= 3 (50.000000%):	115	0.701219512195
other > 3 (50.000000%):	6	0.0365853658537
total:	164
-->

<!-- Mahout v0.10.0
max bound:	38
fancy:	False
same:	12	0.0902255639098
same (ones):	4	0.0300751879699
diff of 1:	14	0.105263157895
diff of 2:	15	0.112781954887
diff of 3:	11	0.0827067669173
within <=1:	14	0.105263157895
within <=5:	51	0.383458646617
within <=10:	89	0.669172932331
within <=50:	121	0.90977443609
other (>50.000000):	0	0.0
within <= 0 (1.000000%):	0	0.0
within <= 2 (5.000000%):	29	0.218045112782
within <= 4 (10.000000%):	47	0.353383458647
within <= 19 (50.000000%):	110	0.827067669173
other > 19 (50.000000%):	11	0.0827067669173
total:	133
-->

<!-- OpenJPA v2.3.0
max bound:	26
fancy:	False
same:	20	0.14598540146
same (ones):	7	0.0510948905109
diff of 1:	29	0.211678832117
diff of 2:	19	0.138686131387
diff of 3:	21	0.153284671533
within <=1:	29	0.211678832117
within <=5:	88	0.642335766423
within <=10:	107	0.78102189781
within <=50:	117	0.85401459854
other (>50.000000):	0	0.0
within <= 0 (1.000000%):	0	0.0
within <= 1 (5.000000%):	29	0.211678832117
within <= 3 (10.000000%):	69	0.503649635036
within <= 13 (50.000000%):	112	0.817518248175
other > 13 (50.000000%):	5	0.036496350365
total:	137
-->

<!-- Pig v0.14.0
max bound:	28
fancy:	False
same:	20	0.0900900900901
same (ones):	2	0.00900900900901
diff of 1:	41	0.184684684685
diff of 2:	41	0.184684684685
diff of 3:	28	0.126126126126
within <=1:	41	0.184684684685
within <=5:	163	0.734234234234
within <=10:	200	0.900900900901
within <=50:	202	0.90990990991
other (>50.000000):	0	0.0
within <= 0 (1.000000%):	0	0.0
within <= 1 (5.000000%):	41	0.184684684685
within <= 3 (10.000000%):	110	0.495495495495
within <= 14 (50.000000%):	202	0.90990990991
other > 14 (50.000000%):	0	0.0
total:	222
-->

<!-- Tika v1.8
max bound:	26
fancy:	False
same:	6	0.15
same (ones):	3	0.075
diff of 1:	1	0.025
diff of 2:	8	0.2
diff of 3:	4	0.1
within <=1:	1	0.025
within <=5:	25	0.625
within <=10:	32	0.8
within <=50:	34	0.85
other (>50.000000):	0	0.0
within <= 0 (1.000000%):	0	0.0
within <= 1 (5.000000%):	1	0.025
within <= 3 (10.000000%):	13	0.325
within <= 13 (50.000000%):	32	0.8
other > 13 (50.000000%):	2	0.05
total:	40
-->

<!-- ZooKeeper v3.5.0
max bound:	16
fancy:	False
same:	65	0.181058495822
same (ones):	14	0.0389972144847
diff of 1:	84	0.233983286908
diff of 2:	71	0.197771587744
diff of 3:	47	0.130919220056
within <=1:	84	0.233983286908
within <=5:	262	0.729805013928
within <=10:	293	0.816155988858
within <=50:	294	0.818941504178
other (>50.000000):	0	0.0
within <= 0 (1.000000%):	0	0.0
within <= 1 (5.000000%):	84	0.233983286908
within <= 2 (10.000000%):	155	0.431754874652
within <= 8 (50.000000%):	291	0.810584958217
other > 8 (50.000000%):	3	0.008356545961
total:	359
-->

<!--All
max bound:	38
fancy:	False
same:	166	0.157345971564
same (ones):	60	0.0568720379147
diff of 1:	227	0.215165876777
diff of 2:	194	0.183886255924
diff of 3:	128	0.121327014218
within <=1:	227	0.215165876777
within <=5:	710	0.672985781991
within <=10:	842	0.798104265403
within <=50:	889	0.842654028436
other (>50.000000):	0	0.0
within <= 0 (1.000000%):	0	0.0
within <= 2 (5.000000%):	421	0.399052132701
within <= 4 (10.000000%):	642	0.608530805687
within <= 19 (50.000000%):	877	0.831279620853
other > 19 (50.000000%):	12	0.0113744075829
total:	1055
-->

In [162]:
df = fpanel["BookKeeper v4.3.0"]

In [78]:
len(df[(df["Changesets"] == 1) & (df["Snapshot"] == 1)])

34

In [98]:
df[df["Changesets"] == df["Snapshot"]]

     Changesets  Historical  Snapshot
3             1           2         1
4             1           1         1
6             1           1         1
11            1           7         1
17            1           6         1
20            1           1         1
23            1           1         1
25            1           2         1
27            1          67         1
31            1           1         1
32            1           1         1
38            1           1         1
39            1          10         1
41            1         116         1
42            1           1         1
47            2           1         2
51            1           6         1
52            1           1         1
54            1           1         1
64            1           2         1
68           10           6        10
69            1           3         1
70            1          28         1
74            1           9         1
76            3          76         3
79            1           8         1
82            1           6         1
88            1           1         1
89            1           1         1
94            1           1         1
95            1           2         1
100           1           1         1
101           1           1         1
102           1           5         1
111           1           1         1
120           2           8         2
132           1           1         1
135           1           4         1